CodeChef/.vscode/settings.json
CodeChef/T20MCH.exe
CodeChef/PCJ18B.exe
CodeChef/MCL Qualifiers/tempCodeRunnerFile.cpp
*.exe
test.cpp
tempCodeRunnerFile.cpp
CodeChef/DSA Learning Series/test.py
CodeChef/DSA Learning Series/.vscode/settings.json
CodeChef/DSA Learning Series/Contest 1/budg[i]
CodeChef/DSA Learning Series/Contest 1/n
CodeChef/DSA Learning Series/Contest 1/budg[i]
.vscode/c_cpp_properties.json
.vscode/settings.json
